:root {
    --primary-color: #431559;
    --secondary-color: rgb(252, 218, 124);
    --secondary-color-light: rgba(252, 218, 124, 0.33);
}
a, a:focus, a:hover {
    color: #35378d;
}

header {
    color: #35378d;
    font-size: 1.25rem;
    padding: 1.4rem 2rem 3.5rem;
}

section {
    margin-bottom: 2rem;
}

.btn-primary {
    background-color: #35378d;
    border-color: var(--primary-color);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:focus.btn-primary:active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    text-align: center;
}

#logo {
    max-width: 100px;
}

.introduction {
    margin-bottom: 2rem;
}

@media (max-width:600px) {

    h1 {
        font-size: 2rem;
    }

    .header-content {
        flex-direction: column;
    }

    #logo {
        margin-bottom: 6px;
    }
}

.bloc {
    padding: 1.2rem;
}
.bloc > *:last-child {
    margin-bottom: 0;
}

.bloc h2 {
    font-size: 135%;
    margin-bottom: 1rem;
}
.bloc.statut {
    background-color: var(--secondary-color-light);
    border-radius: 1rem;
}

.bloc.statut .public-assign {
    margin-top: 1rem;
    font-style: italic;
}