{% extends "base.html" %}
{% block content %}
<div class="text-xs-center"><h2>Se connecter</h2></div>

{% if form.errors %}
<p>Identifiants invalides. Essayez à nouveau.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Votre compte n’a pas accès à cette page. Connectez-vous avec un compte qui dispose des permissions requises.</p>
    {% else %}
    <p>Vous devez vous connecter pour accéder à cette page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="form-group">
    <label for="id_username">Identifiant :</label>
    <input id="id_username" class="form-control" maxlength="254" name="username" type="text" />
</div>
<div class="form-group">
    <label for="id_password">Mot de passe :</label>
    <input id="id_password" class="form-control" name="password" type="password" />
</div>

<input type="submit" class="btn btn-primary" value="Se connecter" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
