{% extends 'base.html' %}
{% block title %}Informations légales{% endblock %}
{% block content %}
<div class="container">
    <h2>Informations légales</h2>

    <h3>Hébergement</h3>
    <p>Hébergeur : Scalingo SAS, 15 avenue du Rhin, F-67100 Strasbourg, France.</p>
    <p>Directeur de la publication : M. Élie Patrigeon &lt;<a
     href="mailto:legal@avectaubira.fr">legal@avectaubira.fr</a>&gt;.</p>

    <h3>Conditions d’utilisation</h3>
    <p>
    Les informations collectées au travers des formulaires sont uniquement destinées à informer sur le soutien à la démarche politique de {{ candidature }} et ne feront l’objet d’aucun usage commercial.
    Elles ne seront conservées que pendant une durée strictement liée à la finalité du traitement.
    Elles peuvent être collectées et stockées par le biais d’applications tierces.
    </p>

    <h3>Droit d’accès et de rectification</h3>
    <p>
    Sur ce site, les internautes peuvent être amenés à communiquer des données personnelles susceptibles de faire l’objet de traitements automatisés.
    Si tel est le cas, conformément à la loi 78-17 relative à l’informatique, aux fichiers et aux libertés du 6 janvier 1978 (article 34), les personnes à propos desquelles des données personnelles sont collectées bénéficient d’un droit d’accès, de modification, de rectification et de suppression de ces données.
    Ce droit peut être exercé en nous contactant via notre adresse mail &lt;<a
    href="mailto:legal@avectaubira.fr">legal@avectaubira.fr</a>&gt;.
    </p>
    
    <h3> Autres données </h3>
    <p>
    Les données non-publiques disponibles sur ce site lorsque vous êtes
    un utilisateur authentifié sont destinées à un usage
    strictement interne au sein de l’équipe de campagne de {{ candidature }}.
    Il n’est pas autorisé de les divulger sans l’accord
    préalable de {{ candidature }}.
    </p>

</div>
{% endblock %}
