{% extends 'base.html' %}
{% block title %}Informations légales{% endblock %}
{% block content %}
<div class="container">
    <h2>Informations légales</h2>

    <h3>Hébergement</h3>
    <p>Hébergeur : Scalingo SAS, 15 avenue du Rhin, F-67100 Strasbourg, France.</p>
    <p>Directeur de la publication : M. Élie Patrigeon &lt;<a
     href="mailto:legal@avectaubira.fr">legal@avectaubira.fr</a>&gt;.</p>

    <h3>Conditions d’utilisation</h3>
    <p>Les données non-publiques disponibles sur ce site lorsque vous êtes
    un utilisateur authentifié sont destinées à un usage
    strictement interne au sein de l’équipe de campagne de {{ candidature }}. Il n’est pas autorisé de les divulger sans l’accord
    préalable de {{ candidature }}.</p>

    <h3>Données personnelles</h3>
    <p>Ce site exploite une base de données des bénévoles. Les données
    personnelles collectées peuvent être modifiées ou supprimées en
    écrivant à &lt;<a
     href="mailto:legal@avectaubira.fr">legal@avectaubira.fr</a>&gt;.</p>
</div>
{% endblock %}
